@charset "UTF-8";
@font-face {
  font-family: "Hanalei-Regular";
  font-display: swap;
  src: url("../fonts/Hanalei-Regular.woff") format("woff"), url("../fonts/Hanalei-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Wider";
  font-display: swap;
  src: url("../fonts/Wider.woff") format("woff"), url("../fonts/Wider.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

#sliding__maps {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 500px;
  margin: 20px auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease-in 0.1s;
  transition: all 1s ease-in 0.1s;
  left: -100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  opacity: 0;
}

.maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide__wraper {
  max-width: 200px;
}

.map img {
  width: 100%;
}

.images__maps {
  display: block;
}

.arrows {
  position: relative;
  margin: -20% auto;
  width: 600px;
}

.arrow {
  position: absolute;
  cursor: pointer;
  color: white;
}

.active {
  opacity: 1;
  left: 0;
}

.no_active {
  color: red;
}

.next {
  right: -10%;
}

.prev {
  left: 10%;
}

.returnn {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.slide__wraper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.front {
  opacity: 1;
}

.back {
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

._no_active {
  -webkit-transition: 1.5s all ease;
  transition: 1.5s all ease;
  opacity: 0;
}

._active {
  opacity: 1;
}

.message {
  color: #7c1515;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 40px;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

.name {
  font-family: Wider;
  color: white;
  font-size: 70px;
}

body {
  background: #000;
}

body .back__ground {
  max-width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.wraper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  font-size: 30px;
  font-family: Hanalei-Regular;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */